name: Test code 

on:
  workflow_dispatch:
    
jobs:
  build:
    runs-on: windows-2022 
    
    steps:
    
    # Create directory and copy over InstatData (64bit)
    - name: Make Library directory 64 bit
      run: |
        MKDIR instat\bin\x64\Release\static\  
     
            
    # check out R for R-Instat
    - name: Checkout R for R-Instat
      uses: actions/checkout@v3
      with:
        repository: 'ChrisMarsh82/R-RInstat'
        fetch-depth: 0
        path: 'R-RInstat'

    - name: Copy R 64 bit
      run: |
        ROBOCOPY R-RInstat\64Bit\ instat\bin\x64\Release\static\ /E
      continue-on-error: true      
 
 
 
    - name: make r tools directory
      run: |
        MKDIR rtools  

    
    - name: Install R tools
      run : |
        curl -o D:\a\R-Instat\R-Instat\rtools\R-4.0.0-win.exe https://cran.r-project.org/bin/windows/base/R-4.0.0-win.exe 

        
    - name: install
      run : | 
        D:\a\R-Instat\R-Instat\rtools\R-4.0.0-win.exe /NORESTART /VERYSILENT /SUPPRESSMSGBOXES
        
    - name: update path
      run : |
        setx path "instat\bin\x64\Release\static\R\bin\;R-4.0.0\bin"

